# kaplunow's ignores
wyk/
lab/1/bser/
lab/1/hello/
lab/1/test/

# woloszw's ignores
lab/1/2_1/.idea/
lab/1/.idea/
lab/1/3_1/lab1/
lab/1/WW_LAB1/
lab/2/WW_LAB2/


#/glbl.v

# Created by https://www.toptal.com/developers/gitignore/api/vivado

